* {
    margin: 0;
}


body {
    background: rgb(252, 252, 252);
}

table {
    width: 800px;
    margin: 0 auto;
    border: none;
}

.wrapper {
    background-color: black;
    max-width: 1000px;
    padding: 20px 40px;
    margin: 0 auto;
}

table tr td {
    border: none;
}

.kelme {
    width: 400px;
    height: 80px;
    background-image: url('https://raw.githubusercontent.com/luxor94/KelmeMail/gh-pages/image/kelme.png');
    background-repeat: no-repeat;
    background-size: contain;
    justify-self: center;
}

.seco {
    width: 350px;
    height: 80px;
    background-image: url('https://raw.githubusercontent.com/luxor94/KelmeMail/gh-pages/image/seco.png');
    background-repeat: no-repeat;
    background-size: contain;
    justify-self: center;
    
}

.sport {
    width: 400px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}

main {
    width: 100%;
}


.download {
    background-color: #F7F7F7;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}



button {
    margin-top: 15px;
    width: 180px;
    height: 50px;
    background-color: #b3b3b3;
    border: none;
    border-radius: 40px;
    outline: none;
}

.download button p {
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color: black;
}

.b2b {
    max-width: 1000px;
    padding: 20px 40px;
    width: 800px;
    margin: 0 auto;
    background-color: white;
    
}

.b2b .text {
    width: 500px;
    margin: 0 auto;
}

.b2b .text p {
    text-align: center;
    padding: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.client p {
    text-align: center;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.reviews {
    background-color: #F7F7F7;
    max-width: 1000px;
    width: 800px;
    height: 100px;
    margin: 0 auto;;
    align-items: center;
    margin-top: 40px;
}

.reviews p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.ozon {
    background: url('https://raw.githubusercontent.com/luxor94/KelmeMail/gh-pages/image/ozon.png') no-repeat center center;
    background-size: contain;
    height: 50px;


}

.wb {
    background: url('https://raw.githubusercontent.com/luxor94/KelmeMail/gh-pages/image/wb.png') no-repeat center center;
    background-size: contain;
    height: 50px;

    
}

.lamoda {
    background: url('https://raw.githubusercontent.com/luxor94/KelmeMail/gh-pages/image/lamoda.png') no-repeat center center;
    background-size: contain;
    height: 50px;

}

.aliexpress {
    background: url('https://raw.githubusercontent.com/luxor94/KelmeMail/gh-pages/image/aliexpress.png') no-repeat center center;
    background-size: contain;
    height: 40px;
    
}

.team {
    background-color: white;
    max-width: 1000px;
    padding: 20px 40px;
    width: 800px;
    margin: 0 auto;
    }

.team p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.teamlogo {
    padding: 20px;
    width: 800px;
    height: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 40px;
}

.dinamo {
    background: url('https://raw.githubusercontent.com/luxor94/KelmeMail/gh-pages/image/dinamo.png') no-repeat center center;
    background-size: contain;
    height: 120px;
}

.baskonia {
    background: url('https://raw.githubusercontent.com/luxor94/KelmeMail/gh-pages/image/Baskonia.png') no-repeat center center;
    background-size: contain;
    height: 120px;
}

.espanyol {
    background: url('https://raw.githubusercontent.com/luxor94/KelmeMail/gh-pages/image/Espanyol.png') no-repeat center center;
    background-size: contain;
    height: 120px;
}

.wotford {
    background: url('https://raw.githubusercontent.com/luxor94/KelmeMail/gh-pages/image/Watford.png') no-repeat center center;
    background-size: contain;
    height: 120px;
}

.alaves {
    background: url('https://raw.githubusercontent.com/luxor94/KelmeMail/gh-pages/image/Alaves.png') no-repeat center center;
    background-size: contain;
    height: 120px;
}

.contacts {

    padding: 10px 10px;
    margin: 0 auto;
    background-color: black;
    
}

.contacts tr td {
    width: 50%;
}

a {
    text-decoration: none;
}

.contacts p, a {
    color: rgb(167, 166, 166);;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 5px 0;
}


.social {
    display: inline-block;
}

.social a {
    padding: 0px 5px;
}

.telegram {
    width: 25px;
    height: 25px;
    background: url('https://raw.githubusercontent.com/luxor94/KelmeMail/gh-pages/image/telegram-512.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.viber {
    width: 25px;
    height: 25px;
    background: url('https://raw.githubusercontent.com/luxor94/KelmeMail/gh-pages/image/viber.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.whatsapp {
    width: 25px;
    height: 25px;
    background: url('https://raw.githubusercontent.com/luxor94/KelmeMail/gh-pages/image/whatsapp-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.adress a {
    padding-left: 8px;
}

a:hover {
    color: white;
}

.social div:hover {
    opacity: 0.5;
}

button:hover {
    opacity: 0.5;
}

header .wrapper .seco:hover {
    opacity: 0.5;
}
header .wrapper .kelme:hover {
    opacity: 0.5;
}

.clints div:hover {
    opacity: 0.5;
}

.teamlogo div:hover {
    opacity: 0.5;
}